<!-- Contador -->

<h1 class="container bg-dark text-white text-center my-4 py-4">Contador</h1>

<div class="container">
	<button class="btn btn-dark mb-3" (click)="inicio='contadorp'">Contador +</button>
	<button class="btn btn-danger mb-3" (click)="inicio='contadorn'">Contador -</button>

  <p class="text-info d-none" [ngClass]="{'d-block':inicio=='contadorp'}">
		<li *ngFor="let i of items">Iniciando el contador positivo {{i}}</li>
	</p>

	<p class="text-danger d-none" [ngClass]="{'d-block':inicio=='contadorn'}">
		Iniciando contador negativo
  </p>

</div>

<!-- Directiva ngIf -->

<!-- <h1 class="container bg-dark text-white text-center my-4 py-4">ngIf show={{show}}</h1>
<div class="container">
  <button class="btn btn-warning" (click)="show=!show">Acción</button>
  <p class="text-info" *ngIf="show">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque tempore
    cum amet, dolorum maxime quia architecto veniam recusandae doloribus ex a?
    Cupiditate animi laboriosam quas ad sint reiciendis assumenda ullam?
  </p>
  <p class="text-danger">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, sapiente
    ab nemo, vero iusto facere dignissimos nisi rem beatae illo ullam iste odio
    laboriosam necessitatibus cumque, aliquid expedita ut eaque.
  </p>
</div> -->

<!-- Directiva ngIf/else -->

<h1 class="container bg-dark text-white text-center my-4 py-4">ngIf show={{ show }}</h1>

<div class="container">
  <button class="btn btn-warning" (click)="show=!show">Acción</button>

  <p class="text-info" *ngIf="show; else showDos">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque tempore
    cum amet, dolorum maxime quia architecto veniam recusandae doloribus ex a?
    Cupiditate animi laboriosam quas ad sint reiciendis assumenda ullam?
  </p>

  <ng-template #showDos>
		<p class="text-danger">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
      sapiente ab nemo, vero iusto facere dignissimos nisi rem beatae illo ullam
      iste odio laboriosam necessitatibus cumque, aliquid expedita ut eaque.
		</p>
	</ng-template
  >
</div>

<!-- Directiva ngClass -->
<h1 class="container bg-dark text-white text-center my-4 py-4">[ngClass]</h1>

<div class="container">
	<button class="btn btn-dark mb-3" (click)="activo='primero'">Primero</button>
	<button class="btn btn-danger mb-3" (click)="activo='segundo'">Segundo</button>

  <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque tempore
    cum amet, dolorum maxime quia architecto veniam recusandae doloribus ex a?
    Cupiditate animi laboriosam quas ad sint reiciendis assumenda ullam?
  </p>

	<p class="text-danger d-none" [ngClass]="{'d-block':activo=='segundo'}">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
      sapiente ab nemo, vero iusto facere dignissimos nisi rem beatae illo ullam
      iste odio laboriosam necessitatibus cumque, aliquid expedita ut eaque.
	</p>

</div>
<!-- Directiva ngFor -->

<h1 class="container bg-dark text-white text-center my-4 py-4">[ngFor]</h1>

<div class="container">
	<!-- <ul>
		<li *ngFor="let language of languages">{{language}}</li>
	</ul> -->

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Number</th>
				<th scope="col">LastName</th>
				<th scope="col">Name</th>
				<th scope="col">Age</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let person of persons; index as i">
				<th scope="row">{{i+1}}</th>
				<td>{{person.lastname}}</td>
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
			</tr>
			<!-- <tr>
				<th scope="row">2</th>
				<td>Castañeda</td>
				<td>Andrea</td>
				<td>34</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Ipuz</td>
				<td>Samantha</td>
				<td>7</td>
			</tr>
			<tr>
				<th scope="row">4</th>
				<td>Olarte</td>
				<td>Brayan</td>
				<td>18</td>
			</tr> -->
		</tbody>
	</table>
</div>